{% extends "base.html" %}

{% block body %}
<h2 class="lib-heading">Issue a Book</h2>
    
    <form method="POST" onsubmit="validateForm(event)">
        {% csrf_token %}
        <label for="memberID">Member ID:</label><br>
        <input type="text" id="memberID" name="memberID" required><br><br>

        <label for="bookID">Book ID:</label><br>
        <input type="text" id="bookID" name="bookID" required><br><br>

        <label for="expectedReturn">Expected Return Date:</label><br>
        <input type="date" id="expectedReturn" name="expectedReturn" required><br><br>

        <button type="submit">Issue Book</button>
    </form>
{% endblock body %}